@import "tailwindcss";

@theme {
    --color-bg-primary: #1a1614;
    --color-bg-secondary: #2d241f;
    --color-text-primary: #ffffff;
    --color-text-secondary: #d1d5db;
    --color-text-muted: #94a3b8;
    --color-accent: #e29e6d;
    --color-logo: #fdf8f5;
    --color-border: #3e342f;

    --font-serif: "Playfair Display", serif;
    --font-sans: "Inter", sans-serif;
    --font-mono: "JetBrains Mono", monospace;
}

body {
    @apply bg-bg-primary text-text-secondary font-sans;
}

#content-rendered {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-text-primary mt-10 mb-6 wrap-break-word;
    }
    h1 {
        @apply text-6xl font-bold;
    }
    h2 {
        @apply text-4xl font-bold leading-8;
    }
    h3 {
        @apply text-2xl font-semibold;
    }
    h4 {
        @apply text-xl font-semibold;
    }

    code {
        @apply font-mono text-accent bg-bg-secondary px-1.5 py-0.5 rounded-sm text-lg;
    }
    pre {
        @apply bg-bg-secondary border border-border p-4 rounded-lg my-6 overflow-x-auto;
    }
    pre code {
        @apply p-0  text-lg;
    }

    blockquote {
        @apply border-l-4 border-accent pl-6 py-4 pr-1 my-4 text-text-primary bg-accent/10 rounded-sm;
    }

    blockquote p {
        @apply m-0;
    }

    ul {
        @apply list-disc list-outside ml-6 mb-6 space-y-2;
    }

    ol {
        @apply list-decimal list-outside ml-6 mb-6 space-y-2;
    }

    li {
        @apply pl-1;
    }

    strong {
        @apply text-text-primary font-bold;
    }

    img {
        @apply max-w-full h-auto rounded-2xl my-8 border border-border;
    }

    hr {
        @apply border-0 border-t border-border my-12;
    }

    table {
        @apply w-full border-collapse border border-border my-8 text-sm md:text-base;
    }

    th {
        @apply bg-bg-secondary text-text-primary font-bold border border-border p-3 text-left;
    }

    td {
        @apply border border-border p-3;
    }
}
a {
    @apply text-accent underline underline-offset-4 decoration-accent/30 hover:decoration-accent transition-colors focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent;
}

.heading-anchor {
    font-size: 0; /* Hides the "ugly" text */
    text-decoration: none;
}
.heading-anchor::before {
    content: "#";
    @apply ml-2 text-text-muted text-3xl;
}

.heading-anchor:hover::before {
    content: "#";
    @apply text-accent;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-terminal {
    animation: blink 1s step-end infinite;
}
